<div>
    {{ title}}
  </div>
  <nav class="nav">
  
    <!-- Global nav Bar -->
    <div class="navbar">
      <a *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:item.exact}" (click)="navClick(item.name)">{{item.name}}</a>
      <!-- routerLinkActive : permet de d'ajouter "active" à la class du a tag et donc de connaitre le lien actif -->
      <!-- routerLinkActiveOption avec exact true: permet de connaitre exactement la classe active car il peut y avoir confusion avec l'url redirigée vers 404 -->
    </div>
  
    <!-- Barre PRO -->
    <div *ngIf="navClique ==='Pro'" class="navbar">
      <a *ngFor="let item of proNav" [routerLink]="item.link" routerLinkActive="active"
        (click)="proNavClick(item.name)">{{item.name}}</a>
    </div>
  
    <!-- Sous éléments PRO -->
    <div *ngIf="(proNavClique ==='Advanced Component')&&(navClique ==='Pro')" class="navbar">
      <a *ngFor="let item of proNavAdvancedComponent" [routerLink]="item.link" routerLinkActive="active">{{item.name}}</a>
    </div>
    <div *ngIf="(proNavClique ==='Directives')&&(navClique ==='Pro')" class="navbar">
      <a *ngFor="let item of proNavDirective" [routerLink]="item.link" routerLinkActive="active">{{item.name}}</a>
    </div>
  
  </nav>
  
  <router-outlet></router-outlet>

<!-- <app-container-test></app-container-test> -->

<!-- <router-outlet name="secondOutlet"></router-outlet> -->






<!-- ajouter un inpult séleection pour chosiir le cours -->

<!-- <app-template-fundamentals></app-template-fundamentals> -->
<!-- <app-rendering-flows></app-rendering-flows> -->
<!-- <app-component-architecture-and-feature-modules></app-component-architecture-and-feature-modules> -->
<!-- <app-plant-viewer></app-plant-viewer> -->